* {
  font-family: 'Paytone One', sans-serif;
}

.bg-shenlong {
  background-image: url("images/shenlong.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -5;
  height: fit-content;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lista-link {
  display: flex;
  align-items: center;
}
#lista-link a {
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22.5px;
  color: white;
}

.button {
  background-color: #0047D0;
  color: #E5E5E5;
  padding: 20px 50px;
  border-radius: 15px;
  text-decoration: none;
}

.faixa {
  position: absolute;
  z-index: -1;
  height: 210px;
  width: 100%;
}

.intro {
  height: 847px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 111.38px;
  z-index: -1;
}
.intro h1 {
  color: white;
  width: 561px;
  padding-bottom: 53px;
}
.intro .texto-intro {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro .texto-intro a {
  font-family: 'Readex Pro';
  text-decoration: none;
}
.intro .texto-intro a:first-of-type {
  margin-right: 53px;
}
.intro .texto-intro a:nth-of-type(2) {
  border: 2px solid #0047D0;
  border-radius: 15px;
  padding: 20px 50px;
  color: white;
}
.intro .texto-intro .seta {
  padding-top: 157px;
  align-self: flex-end;
  padding-right: 120px;
}

.sobre-bg {
  background-color: #101010;
  position: relative;
  z-index: 1;
  height: fit-content;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.texto-sobre {
  padding-left: 57.93px;
  color: white;
  align-self: center;
}
.texto-sobre h1 {
  width: 533px;
}
.texto-sobre p {
  width: 542px;
  height: 131px;
  font-family: 'Readex Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 22.5px;
}

.conteudo-principal {
  background-image: url("images/bg-laranja.png");
  background-color: #101010;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
  z-index: 2;
}

.texto-principal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -200px;
}

.caixa-circulo {
  display: block;
  margin-top: 200px;
  z-index: 3;
  height: fit-content;
}

.circulo {
  clip-path: circle(50% at 50% 50%);
  background-color: #053799;
  height: 418px;
  width: 418px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circulo h2, .circulo p {
  width: 286px;
  color: white;
}

.caixa-retangulos {
  display: flex;
}

.retangulo {
  clip-path: polygon(25% 0%, 100% 0, 100% 78%, 75% 100%, 0 100%, 0 22%);
  background-color: #053799;
  height: fit-content;
  width: 382px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.retangulo h2, .retangulo p {
  color: white;
  width: 286px;
}

.divisao-retangulo .retangulo:first-of-type {
  height: 355px;
}
.divisao-retangulo .retangulo:nth-of-type(2) {
  height: 465px;
}

.divisao-retangulo2 .retangulo:first-of-type {
  height: 405px;
}
.divisao-retangulo2 .retangulo:nth-of-type(2) {
  height: 395px;
}

.esferas {
  position: absolute;
  top: 180px;
  z-index: 2;
  margin-right: 50px;
}

.beneficios {
  display: flex;
  justify-content: center;
}
.beneficios img {
  position: absolute;
}

.retangulo-beneficios {
  clip-path: polygon(0 25%, 86% 0, 100% 98%, 0 85%);
  background-color: #C81413;
  width: 542px;
  height: 388px;
  color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 400px;
  margin-top: 100px;
}
.retangulo-beneficios h3 {
  width: 244px;
}

.swiper {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  z-index: 2;
  margin: auto;
  position: absolute;
  margin-right: 500px;
}

.relogio {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-family: 'Saira', sans-serif;
  color: white;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide h2 {
  width: 282px;
  padding-top: 100px;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  padding-bottom: 80px;
  width: 70px;
}

.swiper-button-next {
  clip-path: polygon(100% 42%, 0 0, 0 100%);
  color: #053799;
  background-color: #053799;
}

.swiper-button-prev {
  clip-path: polygon(100% 100%, 100% 0, 0 51%);
  color: #053799;
  background-color: #053799;
}

.swiper-pagination {
  left: 2px;
}

.rodape {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.rodape .oxigen {
  padding-top: 40px;
  padding-right: 39.34px;
  font-family: 'Readex Pro';
  color: white;
  font-weight: 400;
  size: 16px;
  right: 0;
  display: flex;
  align-self: center;
}
.rodape .oxigen p {
  padding-right: 20px;
}
.rodape .oxigen img {
  height: 28.86px;
  width: 22.66px;
}

.rodape-kuririn {
  background-image: url("images/kuririn-rodape.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  width: 100%;
  width: 100%;
  height: 90px;
  margin-top: -80px;
}

section {
  background-color: #F3771D;
  height: 1400px;
  background-image: url("images/formulario.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
}
section img {
  width: 100%;
}

.conteudo-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 14.38px;
}
.texto-section h2 {
  color: #E5E5E5;
}

.kuririn {
  height: 114.62px;
  width: 251px;
}

form {
  align-self: center;
  font-family: 'Readex Pro';
  color: #555555;
}
form span, form label {
  color: #555555;
}
form input, form div {
  margin-bottom: 20px;
  width: 543px;
  height: 62px;
}

input[type='file'] {
  display: none;
}

#check {
  color: white;
  font-family: 'Readex Pro';
}
#check a {
  color: white;
  font-family: 'Readex Pro';
}

@media (max-width: 993px) {
  .sobre img {
    width: 450px;
  }

  .texto-sobre {
    padding-left: 30px;
  }
  .texto-sobre h1 {
    width: 442px;
  }
  .texto-sobre p {
    width: 449px;
  }

  .caixa-retangulos {
    z-index: 3;
  }

  .beneficios {
    margin-left: 70px;
  }

  .retangulo-beneficios h3 {
    width: 244px;
    line-height: 41.88px;
  }

  .rodape .oxigen {
    padding-right: 0;
  }
}
@media (max-width: 768px) {
  .bg-shenlong {
    background-image: url("./images/shenlong-sm.png");
    height: 847px;
  }

  .intro {
    padding-top: 400px;
  }

  .texto-intro h1 {
    width: 561px;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
  }
  .texto-intro a {
    font-weight: 600px;
    font-size: 18px;
    width: 330px;
  }
  .texto-intro a:first-of-type {
    padding: 20px 60px;
    margin-right: 0;
  }
  .texto-intro a:nth-of-type(2) {
    padding: 20px 40px;
  }

  .conteudo-principal {
    margin-bottom: -20px;
  }

  .retangulo {
    margin: 30px 0;
  }

  .texto-principal {
    flex-wrap: nowrap;
  }

  .esferas {
    height: 1000px;
  }

  .beneficios {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .swiper {
    margin: auto;
    position: relative;
    margin-top: -100px;
  }

  .retangulo-beneficios {
    margin: auto;
  }
  .retangulo-beneficios h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
  }

  .sobre {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .bg-shenlong {
    background-image: url("./images/shenlong-xs.png");
    background-size: cover;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .texto-intro h1 {
    width: 289px;
    font-size: 24px;
    line-height: 30px;
    height: 120px;
  }
}
